{{> metabase/email/_header}}
  {{#pulseName}}
    <h1 style="{{sectionStyle}} margin: 16px; color: {{color-brand}};">
      {{pulseName}}
    </h1>
  {{/pulseName}}
{{^showAttachOnly}}
    {{{pulse}}}
{{/showAttachOnly}}
{{> metabase/email/_footer_pulse}}
